.betting-table-container {
  padding: 20px;
}
.betting-table-container {
  background-color: rgb(59, 7, 92); /* Or use a specific shade like #800080 */
}
.search-container {
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  width: 300px;
  font-size: 16px;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  width: 300px;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.match-table {
  margin-bottom: 40px;
}

.betting-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.betting-table th,
.betting-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.betting-table th {
  background-color: #f4f4f4;
}

.betting-table td {
  background-color: #fff;
}